<div class="collections" *ngIf="collections">
	<div class="collection" *ngFor="let collection of collections" (click)="viewPlaylist(collection)">
		<div class="image"><app-image-fallback [src]="collection.image"></app-image-fallback></div>
		<div class="artist">{{ collection.artist }}</div>
	</div>
</div>
