@import "shared";
$handle: 20px;
$bar: 4px;
.slider{
	width: 100%;
	height: $bar;
	background: rgba(map-get($colors,primary-dark),0.3);
	position: relative;
	&-progress{
		position: absolute;
		left: 0;
		width: 0;
		top: 0;
		height: 100%;
		background: map-get($colors,primary-dark);
	}
	&-handle{
		position: absolute;
		left: 0;
		width: $handle;
		height: $handle;
		background: map-get($colors,primary-dark);
		border-radius: 100%;
		margin: #{-(($handle - $bar)/2)} #{-($handle/2)};
		transform: scale(.7);
		transition: transform .4s;
		&:active{
			transform: scale(1);
		}
	}
}
