@import "shared";
.current-song-wrapper{
	@extend %box-shadow-up;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px 18px;
	z-index: 10;
	background: #fff;
	width: 100%;
	display: block;
	min-height:84px;
	@include media($bp-small){
		min-height: 60px;
		padding-top: 13px;
		padding-bottom: 5px;
	}
	.image{
		width: 45px;
		display: inline-block;
		float: left;
		margin-right: 10px;
		img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.title{
		max-width: calc(100% - 300px);
		@include media($bp-small){
			max-width: calc(100% - 100px);
		}
		@include media($bp-gt-small){
			app-text-overflow{
				pointer-events: none;
			}
		}
	}
	.small-details{
		display: flex;
		font-size:12px;
		color:map-get($colors,secondary-text);
	}
	.artist{
		@extend %overflow;
		max-width: calc(100% - 415px);
		@include media($bp-small){
			max-width: calc(100% - 170px);
		}
	}
	.time{
		padding-left: 20px;
	}
	.current-song{
		position: relative;
		min-height: 46px;
		height: 100%;
	}
	.play-queue{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
		font-size: 25px;
		color:map-get($colors,primary-dark);
		cursor:pointer;
		&:hover{
			color:map-get($colors,accent);
		}
	}
	.play-song{
		cursor:pointer;
		color:map-get($colors,primary-dark);
		&:hover{
			color:map-get($colors,accent);
		}
		&[disabled="true"]{
			pointer-events: none;
			opacity:0.5;
		}
	}
	.play-controls{
		color:map-get($colors,primary-dark);
		position: absolute;
		right: 100px;
		top: 50%;
		transform: translate(0,-50%);
		font-size: 30px;
		> .icon{
			cursor:pointer;
			&:hover{
				color:map-get($colors,accent);
			}
			&[disabled="true"]{
				pointer-events: none;
				opacity:0.5;
			}
			@include media($bp-small){
				display: none;
			}
		}
		@include media($bp-small){
			right:50px;
		}
	}
	&.expanded{
		@include media($bp-small){
			height: calc(100% - 64px);
			.image{
				position: absolute;
				top: 55px;
				left: 0;
				width: calc(100% + 37px);
				margin: 0 -18px;
				height: calc(100% - 108px);
			}
			.play-controls{
				right: -20px;
				left: -20px;
				top: calc(100% - 24px);
				font-size: 38px;
				width: calc(100% + 40px);
				text-align: center;
				background: map-get($colors,light);
				padding-top: 5px;
				padding-bottom: 5px;
				> .icon{
					display: inline-block !important;
				}
			}
			.play-queue{
				top: 23px;
			}
			.title{
				max-width: calc(100% - 53px);
				position: relative;
				min-height: 22px;
			}
			.artist{
				max-width: calc(100% - 129px);
			}
		}
	}
}
