<div class="current-song-wrapper" [class.expanded]="expanded" *ngIf="song">
	<app-slider *ngIf="song.ctime && song.ttime" class="song-seeker" [(value)]="song.percent" (slide)="onSlide($event)" (slideend)="onSlideEnd($event)"></app-slider>
	<div class="current-song">
		<div class="image"><app-image-fallback [src]="song.image"></app-image-fallback></div>
		<div class="title" [attr.title]="song.title">
			<app-text-overflow (click)="toggleExpanded()" [text]="song.title" [animationCondition]="expanded"></app-text-overflow>
		</div>
		<div class="small-details">
			<div class="artist" [attr.title]="song.artist + ' - ' + song.album">
				{{ song.artist }} - {{ song.album }}
			</div>
			<div class="time" *ngIf="song.ctime && song.ttime">{{ ctime | humanTime }}/{{ song.ttime }}</div>
		</div>
		<div class="play-queue" *ngIf="song.status" (click)="openPlayQueue()"><span class="icon">queue_music</span></div>
		<div class="play-controls">
			<span class="icon" [attr.disabled]="!song.status||song.position=='1'" (click)="playPrevious()">skip_previous</span>
			<span class="play-song" [attr.disabled]="!song.status" (click)="togglePlay()">
				<span class="icon" *ngIf="!this.playing">play_arrow</span>
				<span class="icon" *ngIf="this.playing">pause</span>
			</span>
			<span class="icon" [attr.disabled]="!song.status||song.position==song.total" (click)="playNext()">skip_next</span>
		</div>
	</div>
</div>
