<app-header-bar mainHeading="Speakers" secondaryHeading="Set which speakers are playing the audio" image="assets/images/speakers.jpg" short="true"></app-header-bar>
<div class="settings">
	<div class="settings-item" *ngFor="let speaker of speakers">
		<app-input-toggle [(model)]="speaker.active" (modelChange)="speakerToggle(speaker)"></app-input-toggle>
		<div class="heading">{{ speaker.name }}</div>
		<div class="value">http://{{ speaker.ip }}</div>
	</div>
	<div *ngIf="!speakers.length&&loaded">
		No speakers found, they can be added in the settings.
	</div>
</div>
