div{
	display: block;
	position: relative;
	overflow: hidden;
	height: 1.4em;
	span{
		position: absolute;
		display: block;
		width: auto;
		white-space: nowrap;
		line-height: 1.4em;
		height: 100%;
	}
}
