<div class="menu">
	<div class="app-icon side-menu-button" *ngIf="!backButton"></div>
	<span class="icon side-menu-button toggle-menu" (click)="toggleSideMenu()" *ngIf="!backButton">menu</span>
	<span class="icon side-menu-button" (click)="goBack()" *ngIf="backButton">arrow_back</span>
	<app-inline-input class="search" [(model)]="search" (keyup)="keyEvents($event)" placeholder="search" *ngIf="searchField"></app-inline-input>
	<span class="menu-heading" *ngIf="menuHeading">{{ menuHeading }}</span>
	<span class="icon search-button" (click)="submitSearch()" *ngIf="searchButton">search</span>
	<div class="icon side-menu-button" (click)="save()" *ngIf="saveButton">done</div>
</div>
<div class="side-menu-background" *ngIf="sideMenuOpen" (click)="closeSideMenu()"></div>
<div class="side-menu" [class.shown]="sideMenuOpen">
	<div class="side-menu-header">
		<img src="assets/images/side-menu-header.jpg" />
		<div class="icon" (click)="closeSideMenu()">menu</div>
	</div>
	<div class="menu-item" (click)="navigate('/')"><div class="icon">collections</div> Collections</div>
	<div class="menu-item" (click)="navigate('/stations')"><div class="icon">radio</div> Stations</div>
	<div class="menu-item" (click)="navigate('/im-feeling-lucky')"><div class="icon">filter_vintage</div> I'm feeling lucky</div>
	<div class="menu-item" (click)="navigate('/queue')"><div class="icon">queue_music</div> Queue</div>
	<div class="menu-item" (click)="navigate('/speakers')"><div class="icon">speakers</div> Speakers</div>
	<div class="menu-item" (click)="navigate('/settings')"><div class="icon">settings</div> Settings</div>
</div>
