@import "shared";
.settings{
	&__section-heading{
		font-size: 14px;
		height: 48px;
		padding: 14px 6px;
		color:map-get($colors,primary);
		font-weight: 600;
		@include media($bp-gt-small){
			padding-left: 0;
			padding-right: 0;
		}
	}

}
