*{
	box-sizing: border-box;
}
html{
	@extend %no-select;
	padding:0;
	margin:0;
	overflow-x:hidden;
}
body{
	font:normal 16px/normal 'Open Sans', sans-serif;
	background:map-get($colors,hint);
	padding:10px;
	margin:0;
	overflow-x:hidden;
}
app-root{
	max-width:$max-width;
	display: block;
	margin:0 auto 120px;
	@include media($bp-gt-medium){
		max-width: calc(100% - 320px);
		margin: 0 0 120px 300px;
	}
}
router-outlet{
	display: block;
	margin-top: 80px;
}
img{
	max-width: 100%;
}

h1,h2,h3,h4{
	@extend %font-normal;
}

.no-results,
.loading{
	@include media($bp-medium){
		padding:30px 10px;
	}
}
.icon{
	font-size: 1.2em;
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	text-align: center;
	font-family: 'Material Icons';
	text-transform: none;
	color:inherit;
	display: inline-block;
	padding:0;
	vertical-align: middle;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga" 1;
}
.header-bar{
	position: relative;
	height: 100px;
	margin-top: 115px;
	display: flex;
	h1{
		margin:0 0 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding-right: 100px;
		text-transform: capitalize;
		@include media($bp-gt-small){
			width: calc(100vw - 170px);
		}
		@include media($bp-gt-medium){
			width: calc(100vw - 500px);
		}
		@include media($bp-small){
			padding-right: 0;
		}
	}
	h2{
		margin: 0;
		color: map-get($colors,secondary-text);
		font-size: 14px;
		text-transform: capitalize;
	}
	.playlist-image{
		width:100px;
		margin-right: 8px;
		@include media($bp-small){
			width:auto;
			position: absolute;
			top: -62px;
			left: -10px;
			right: -10px;
			margin-right: 0;
			max-height: 264px;
			overflow: hidden;
			img{
				max-width: 115%;
				transform: translate(-50%,0);
				position: relative;
				left: 50%;
			}
		}
		.error &{
			img{
				filter: grayscale(1);
			}
		}
	}
	.playlist-heading{
		position: relative;
		padding:15px 10px;
		max-width: calc(100% - 100px);
		@include media($bp-small){
			background:rgba(map-get($colors,hint),0.85);
			position: relative;
			top: 100px;
			margin: 0 -18px;
			padding-left: 15px;
			padding-right: 15px;
			max-width:none;
			border-bottom: 1px solid map-get($colors,primary-light);
		}
	}
	&.short{
		.playlist-heading{
			@include media($bp-gt-small){
				position: relative;
				padding: 0 10px;
				top: -8px;
			}
		}
	}
	@include media($bp-medium){
		padding:0 8px;
	}
	@include media($bp-small){
		display: block;
		height: 200px;
	}
}
.section-header{
	margin-top: 30px;
	button{
		float:right;
		margin-right: 0 !important;
	}
	@include media($bp-medium){
		padding:0 8px;
	}
}
.play-button{
	position: absolute;
	top: -157px;
	z-index: 2;
	right: 20px;
	font-size: 34px;
	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	@include media($bp-small){
		top: -28px;
	}
}
.toggle-play{
	color:map-get($colors,accent);
	cursor:pointer;
	display: inline-block;
	font-size: 30px;
}
.error-message{
	color: map-get($colors,secondary-text);
	@include media($bp-small){
		text-align: center;
		padding: 30px 10px;
	}
	@include media($bp-gt-small){
		margin:40px -15px;
		padding: 13px 16px;
	}
	button{
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
}
