%input{
	font-family:inherit;
	font-size: 16px;
	height: 28px;
	border:0;
	border-bottom:1px solid map-get($colors,input);
	color:map-get($colors,primary-text);
	background:none;
	&:focus{
		border-bottom: 2px solid map-get($colors,accent);
		outline:none;
		position: relative;
		top:1px;
	}
}
input{
	@extend %input;
	width:100%;
}
select{
	@extend %input;
}
textarea{
	@extend %input;
	width:100%;
	overflow: hidden;
	resize: none;
}
.row{
	margin:35px 0 25px;
	position: relative;
	label{
		@extend %transition;
		display: block;
		color:map-get($colors,secondary-text);
		position: absolute;
		transform-origin: left;
		transform: translate(0,4px) scale(1);
		pointer-events: none;
	}
	&.active,
	&.filled{
		label{
			transform:translate(0,-20px) scale(0.75);
		}
	}
	&.active{
		label{
			color:map-get($colors,accent);
		}
	}
}
button{
	border:none;
	background:none;
	font-size:inherit;
}
.fab-button{
	@extend %box-shadow;
	@extend %transition;
	cursor: pointer;
	width:56px;
	height:56px;
	line-height: 56px;
	font-size: 24px;
	text-align: center;
	font-family: 'Material Icons';
	border-radius:100%;
	background:map-get($colors,accent);
	color:map-get($colors,icon);
	display: inline-block;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
	&.snack-open{
		transform:translate(0,-50%);
	}
	&.fab-mini{
		background:map-get($colors,light);
		color:map-get($colors,secondary-text);
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
	&:focus,
	&:hover{
		@extend %elevated-box-shadow;
	}
}
home button{
	margin-top:20px;
}
.app-input-toggle{
	width: 35px;
	height: 16px;
	border-radius: 12px;
	background: rgba(map-get($colors,dark),0.38);
	display: inline-block;
	transition: 0.5s;
	cursor:pointer;
	.toggle{
		@extend %box-shadow;
		width:20px;
		height: 20px;
		border-radius:100%;
		background: map-get($colors,light);
		position: relative;
		top: -2px;
		transition: 0.5s;
	}
	&.on{
		background: rgba(map-get($colors,accent),0.38);
		.toggle{
			background: map-get($colors,accent);
			transform:translate(15px,0);
		}
	}
}
