@function breakpoint($query) {
	$loop-to: length($query);
	$media-query: "screen and ";
	$i: 1;
	@while $i <= $loop-to {
		$media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

		@if ($i + 1) != $loop-to {
			$media-query: $media-query + "and ";
		}

		$i: $i + 2;
	}
	@return $media-query;
}

@mixin media($break-point) {
	@media #{""+$break-point} {
		@content;
	}
}
