.menu{
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	background:map-get($colors,primary);
	padding: 20px 15px;
	color: map-get($colors,light);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	display:flex;
	.icon{
		cursor: pointer;
	}
	.side-menu-button{
		margin-right: 10px;
		@include media($bp-gt-medium){
			margin-right: 24px;
			&.toggle-menu{
				display: none;
			}
		}
	}
	.app-icon{
		@include media($bp-gt-medium){
			background-image: url('/assets/images/favicon.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 34px;
			height: 25px;
			display: inline-block;
		}
	}
	.search-button{
		margin-left: 10px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
	.icon{
		vertical-align: bottom;
		font-size: 1.5em;
		margin-top: -1px;
		margin-bottom: -6px;
	}
	.menu-heading{
		@extend %overflow;
		height: 23px;
		width: 100%;
		padding: 2px 0;
	}
	.search{
		height: 23px;
		width: 100%;
		input{
			color:map-get($colors,light);
			height:auto;
			width:100%;
			font-size: 16px;
			border-bottom: none;
			text-transform: capitalize;
			&:focus{
				top:0;
				margin-bottom: -1px;
			}
		}
		app-inline-input{
			position: relative;
			top:-2px;
			width:calc(100% - 30px);
		}
		&.visible{
			display: inline-block;
		}
	}
	select{
		color:map-get($colors,light);
		height:23px;
		font-size: 16px;
		border-bottom: none;
		&:focus{
			margin-bottom: -1px;
		}
		option{
			color:map-get($colors,dark);
		}
	}
	@include placeholder{
		color:rgba(map-get($colors,light),0.5);
	}
}
.side-menu-background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 13;
	@include media($bp-small){
		background: rgba(map-get($colors,dark),0.5);
	}
}
.side-menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 14;
	background: map-get($colors,light);
	height: 100%;
	width: 80%;
	max-width: 280px;
	padding:16px;
	transform: translate(-100%,0);
	transition: 0.5s transform;
	&.shown{
		@extend %box-shadow-right;
		transform: translate(0,0);
	}
	@include media($bp-gt-medium){
		transform: none;
		transition: none;
		top: 64px;
		z-index: 1;
		padding-top: 50px;
		height: calc(100% - 64px);
	}
	&-header{
		height: 150px;
		border-bottom: 1px solid rgba(map-get($colors,dark),0.1);
		margin:-16px -16px 8px;
		overflow: hidden;
		.icon{
			position: absolute;
			top: 14px;
			left: 14px;
			font-size: 1.5em;
			color: rgba(map-get($colors,dark),0.54);
			cursor: pointer;
			&:hover{
				color:map-get($colors,primary);
			}
			@include media($bp-small){
				display: none;
			}
		}
		@include media($bp-gt-medium){
			display: none;
		}
	}
	.menu-item{
		height: 48px;
		font-size: 14px;
		font-weight: 600;
		padding: 13px 0;
		cursor: pointer;
		&:hover{
			color:map-get($colors,primary);
			.icon{
				color:rgba(map-get($colors,primary),0.75);
			}
		}
		.icon{
			margin-right: 26px;
			font-size: 1.5em;
			font-weight: normal;
			color: rgba(map-get($colors,dark),0.54);
			position: relative;
			top: -2px;
		}
	}
}
