@mixin placeholder{
	::-webkit-input-placeholder {
		@content;
	}

	:-moz-placeholder { /* Firefox 18- */
		@content;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		@content;
	}

	:-ms-input-placeholder {
		@content;
	}
}
@mixin deep{
	::ng-deep{
		@content;
	}
}

%font-normal{
	font-weight: 400;
}
%font-bold{
	font-weight: 600;
}
%cursive-font{
	font-family: 'Shadows Into Light', cursive;
}
%dash{
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
}
%box-shadow{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
%box-shadow-up{
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,.14),0 -3px 1px -2px rgba(0,0,0,.2),0 -1px 5px 0 rgba(0,0,0,.12);
}
%box-shadow-right{
	box-shadow: 2px 0 2px 0 rgba(0,0,0,.14),0 -3px 1px -2px rgba(0,0,0,.2),0 -1px 5px 0 rgba(0,0,0,.12);
}
%elevated-box-shadow{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,.28),0 3px 1px -2px rgba(0,0,0,.4),0 1px 5px 0 rgba(0,0,0,.12);
}
%transition{
	transition: 0.25s;
}
%box{
	@extend %box-shadow;
	@extend %transition;
	border-radius: 2px;
	background: map-get($colors,light);
	font-size: 14px;
	position: relative;
	margin: 70px -15px 30px;
}
%album-box{
	@extend %box;
	margin:10px;
	padding-bottom: 10px;
	width: calc(20% - 20px);
	max-width: 200px;
	display: inline-block;
	vertical-align: top;
	overflow:hidden;
	background:rgba(map-get($colors,light),0.7);
	cursor: pointer;
	&:focus,
	&:hover{
		@extend %elevated-box-shadow;
	}
	.image{
		img{
			max-width:100%;
		}
	}
	@include media($bp-small){
		width: calc(50% - 20px);
	}
}
%no-select{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
%overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
