.song-seeker{
	top: 0;
	left: 0;
	width: calc(100%);
	position: absolute;
	display: block;
	@include media($bp-small){
		.expanded &{
			top: calc(100% - 65px);
			z-index: 2;
		}
	}
}
.current-song-wrapper{
	&.expanded{
		@include media($bp-small){
			.image{
				img{
					min-height: 100%;
					max-width: none;
					transform: translate(-50%,0);
					left: 50%;
					position: absolute;
				}
			}
		}
	}
}

@keyframes scroll-overflow {
	0%{
		transform: translateX(0);
		opacity: 1;
	}
	48%{
		transform: translateX(-100%);
		opacity: 1;
	}
	49%{
		transform: translateX(-100%);
		opacity: 0;
	}
	50%{
		transform: translateX(100%);
		opacity: 0;
	}
	51%{
		transform: translateX(100%);
		opacity: 1;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
