// colour palette
$colors: (
	light: #fff,
	hint:#f5f5f5,
	dark:#000,
	primary-dark: #002984,
	primary: #3f51b5,
	primary-light: #757de8,
	icon: #FFFFFF,
	accent: #FF4081,
	accent-light: #ff80ab,
	accent-dark: #F50057,
	primary-text: #212121,
	secondary-text: #757575,
	listing: #fafafa,
	border: rgba(#757de8,0.5),
	input: rgba(#757575,0.5),
	notification: #323232
);


$bp-gt-medium: breakpoint(min-width 800px);
$bp-gt-small: breakpoint(min-width 500px);
$bp-medium: breakpoint(max-width 800px);
$bp-small: breakpoint(max-width 500px);
$max-width: 800px;
