<div class="header-bar" [class.short]="short">
	<div class="playlist-image">
		<app-image-fallback [src]="image"></app-image-fallback>
	</div>
	<div class="playlist-heading">
		<h1><app-text-overflow [text]="mainHeading"></app-text-overflow></h1>
		<h2 *ngIf="secondaryHeading">{{ secondaryHeading }}</h2>
		<app-button *ngIf="actionButton" (click)="action()" variant="no-padding">{{actionButton}} <div *ngIf="actionIcon" class="icon">{{actionIcon}}</div></app-button>
	</div>
</div>
