<div class="snackbar" [class.shown]="shown">
	<div class="snackbar-content"><ng-content></ng-content></div>
	<div class="snackbar-button" *ngIf="button" (click)="emitAction()">{{ button }}</div>
</div>
