@import "shared";
.snackbar{
	font-size: 14px;
	background:map-get($colors,notification);
	color:map-get($colors,hint);
	border-radius:2px;
	position: fixed;
	bottom:0;
	left:50%;
	transform:translate(-50%,100%);
	transition:1s transform;
	padding:14px 24px;
	display: flex;
	justify-content: space-between;
	min-width:288px;
	max-width:568px;
	@include media($bp-small){
		width:100%;
		max-width:none;
	}
	&.shown{
		transform:translate(-50%,0%);
		z-index: 12;
	}
	.snackbar-button{
		margin-left:48px;
		text-transform: uppercase;
		color:map-get($colors,accent);
		cursor: pointer;
	}
}
