@import "shared";
%additional-text{
	@include media($bp-small){
		padding-top: 0;
		padding-left: 0;
		display: inline-block;
		width: auto;
		color:map-get($colors,secondary-text);
		font-size: 12px;
		max-width: 30%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.app-songs-list{
	position: relative;
}
.song-list-wrapper{
	position: relative;
	.play-button{
		top: -48px;
		@include media($bp-small){
			top: -28px;
		}
	}
}

.songs{
	@extend %box;
	.song{
		display: flex;
		position: relative;
		border-bottom: 1px solid map-get($colors,border);
		cursor: pointer;
		background:rgba(map-get($colors,listing),0.5);
		&:nth-child(2){
			padding-top: 20px;
			.more{
				top: calc(50% + 10px);
			}
		}
		&:last-child{
			padding-bottom: 20px;
			.more{
				top: calc(50% - 10px);
			}
		}
		&:not(.header){
			&:hover{
				background: map-get($colors,accent);
				color: map-get($colors,light);
				.play,
				.more{
					color: map-get($colors,light);
				}
			}
			&.playing{
				background: map-get($colors,accent-light);
				color: map-get($colors,light);
				.play,
				.more{
					color: map-get($colors,light);
				}
			}
		}
		> div{
			padding:9px 15px;
			width:percentage(1/3);
		}
		.length{
			@extend %overflow;
			@extend %additional-text;
			@include media($bp-gt-small){
				width:100px;
			}
		}
		.more{
			color:map-get($colors,primary-dark);
			@include media($bp-gt-small){
				width:100px;
			}
			@include media($bp-small){
				width: auto;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(0,-50%);
				font-size: 20px;
				z-index: 2;
				.icon{
					position: relative;
					z-index: 1;
				}
			}
		}
		.context-menu{
			width: (56px * 3);
			top: 8px;
			right: 16px;
		}
		.title{
			@extend %overflow;
			@include media($bp-small){
				max-width: calc(100% - 140px);
				padding-left: 0;
				width:100%;
				font-size: 16px;
				padding-bottom: 0;
			}
		}
		.artist{
			@extend %overflow;
			@extend %additional-text;
		}
		.album{
			@extend %overflow;
			@extend %additional-text;
		}
		.play{
			width:60px;
			font-size: 20px;
			padding-top: 3px;
			padding-bottom: 0;
			color:map-get($colors,primary-dark);
			@include media($bp-small){
				float: left;
				font-size: 30px;
				padding: 7px 18px;
				margin-right: 15px;
			}
		}
		@include media($bp-small){
			display: block;
			&.playing,
			&:hover{
				.length,
				.artist,
				.album{
					color:rgba(map-get($colors,light),0.7);
				}
			}
		}
	}
	.header{
		@extend %font-bold;
		text-transform: uppercase;
		position: absolute;
		width: 100%;
		top: -36px;
		font-size: 12px;
		background:none !important;
		@include media($bp-small){
			display: none;
		}
	}
	@include media($bp-medium){
		box-shadow: none;
		border-top: 1px solid map-get($colors,primary-light);
	}
	@include media($bp-small){
		margin-top: 0;
	}
}
.albumMode{
	.song{
		& > div {
			width: 100%;
		}
	}
}
