<div class="app-songs-list" [class.albumMode]="albumMode">
	<span class="fab-button play-button" *ngIf="playAll"><span class="icon" *ngIf="!playing" (click)="play(0, currentSong || songs[0])">play_arrow</span><span class="icon" *ngIf="playing" (click)="pause()">pause</span></span>
	<div class="songs" *ngIf="songs">
		<div class="song header">
			<div class="play"><span class="icon"></span></div>
			<div class="title">Name</div>
			<div class="length"><span class="icon">access_time</span></div>
			<div class="artist" *ngIf="!albumMode">Artist</div>
			<div class="album" *ngIf="!albumMode">Album</div>
			<div class="more"></div>
		</div>
		<div *ngFor="let song of songs | slice:0:limit; let i = index" class="song" [class.playing]="song.playing||song.current">
			<div class="play" (click)="play(i+1, song)" *ngIf="!song.playing"><span class="icon">play_arrow</span></div>
			<div class="play" (click)="pause()" *ngIf="song.playing"><span class="icon">pause</span></div>
			<div class="title" [attr.title]="song.title">{{ song.title }}</div>
			<div class="length">{{ song.length | humanTime }}</div>
			<div class="artist" *ngIf="!albumMode" [attr.title]="song.artist">{{ song.artist }}</div>
			<div class="album" *ngIf="!albumMode" [attr.title]="song.album">{{ song.album }}</div>
			<div class="more" (click)="openMenu(song.id+i)"><span class="icon">more_vert</span></div>
			<app-context-menu [menuId]="song.id + i">
				<app-context-menu-item (event)="queueOne(song)">Add to queue</app-context-menu-item>
				<app-context-menu-item (event)="queueNextSong(song)">Play next</app-context-menu-item>
			</app-context-menu>
		</div>
	</div>
</div>
