@import "shared";
.albums{
	margin:10px -10px;
	.album{
		@extend %album-box;
		.title,
		.artist{
			white-space: nowrap;
			overflow: hidden;
			padding: 2px 10px;
			position: relative;
			&:after{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				background: linear-gradient(to right, rgba(255,255,255,0) 60%,rgba(255,255,255,1) 95%);
				top: 0;
				left: 0;
			}
		}
		.artist{
			color:map-get($colors,secondary-text);
			font-size: 12px;
		}
	}
}
