<div class="albums" *ngIf="albums">
	<div class="album" *ngFor="let album of albums | slice:0:limit" (click)="view(album)">
		<div class="image"><app-image-fallback [src]="album.image"></app-image-fallback></div>
		<div class="title" [attr.title]="album.title">{{ album.title }}</div>
		<div class="artist">{{ album.artist }}</div>
	</div>
</div>
