<app-menu></app-menu>
<router-outlet name="song"><app-current-song></app-current-song></router-outlet>
<app-snackbar #errorSnack button="Dismiss">{{ errorMessage || 'An error occurred...' }}</app-snackbar>
<app-snackbar #offlineSnack button="Dismiss">Connection to the server has been lost</app-snackbar>
<app-snackbar #onlineSnack button="Dismiss">We're back online</app-snackbar>
<router-outlet></router-outlet>
