<app-header-bar *ngIf="route!='im-feeling-lucky'" [mainHeading]="playlistName" [secondaryHeading]="secondaryHeading||route" [image]="playListImage" [class.error]="error"></app-header-bar>

<app-header-bar *ngIf="route=='im-feeling-lucky'" mainHeading="I'm feeling lucky" actionButton="Refresh list" actionIcon="refresh" (event)="refresh()" [image]="playListImage" [class.error]="error"></app-header-bar>

<app-spinner [show]="loading"></app-spinner>

<div *ngIf="songs.length">
	<app-songs-list [songs]="songs" [playlistFile]="playlistFile" [albumMode]="route==='album'"></app-songs-list>
</div>

<app-error-message [error]="error" (retry)="getPlaylist()">
	 Could not retrieve playlist
</app-error-message>
