<div class="row" [class.active]="active" [class.filled]="filled">
	<label *ngIf="label" [attr.for]="field">{{ label }}</label>
	<app-inline-input [type]="type" [(model)]="model" [placeholder]="placeholder" (modelChange)="modelChanged($event)" (focus)="focused()" (blur)="blured()" [field]="field" [required]="required" ></app-inline-input>
</div>
