<app-header-bar mainHeading="Stations" secondaryHeading="Recent stations" image="assets/images/radio.jpg" short="true" [class.error]="error"></app-header-bar>

<app-spinner [show]="loading"></app-spinner>

<div class="collection-results" *ngIf="collections.length">
	<app-collections-list [collections]="collections" route="/station"></app-collections-list>
</div>

<app-error-message [error]="error" (retry)="getStations()">
	Could not retrieve collections
</app-error-message>
