@import "shared";
.button{
	@extend %font-normal;
	text-transform: uppercase;
	font-size: 14px;
	padding:10px;
	border-radius:4px;
	display: inline-block;
	cursor: pointer;
	color:map-get($colors,accent);
	transition: 0.25s;
	margin-right:10px;
	&--raised{
		@extend %box-shadow;
		@extend %transition;
		&:focus,
		&:hover{
			@extend %elevated-box-shadow;
		}
	}
	&--accent{
		background:map-get($colors,accent);
		color:map-get($colors,icon);
	}
	&--primary{
		background:map-get($colors,primary-light);
	}
	&--wide{
		width:100%;
		margin-bottom:15px;
		display: block;
	}
	&--small{
		font-size: 10px;
		padding: 0.7em 0.8em;
	}
	&--no-padding{
		padding: 0;
	}
	&:focus,
	&:hover{
		color:map-get($colors,accent);
		background:map-get($colors,hint);
	}
	&.pull-left{
		margin-left: -10px;
	}
}
