<app-header-bar *ngIf="!expand" [mainHeading]="searchTerm" secondaryHeading="Search" image="assets/images/search.jpg" short="true" [class.error]="error"></app-header-bar>
<app-header-bar *ngIf="expand" [mainHeading]="expand" [secondaryHeading]="searchTerm" image="assets/images/search.jpg" short="true" [class.error]="error"></app-header-bar>

<div class="back-to-search" *ngIf="expand">
	<app-button size="small" (click)="backToSearch()">Back to search</app-button>
</div>

<app-spinner [show]="loading"></app-spinner>

<div *ngIf="albums.length && expand != 'songs' && expand != 'stations'">
	<div class="section-header" *ngIf="!expand">
		<app-button variant="accent" size="small" (click)="view('albums')" *ngIf="!expand && albums.length > albumLimit">See all</app-button>
		<h3>Albums</h3>
	</div>
	<app-albums-list [albums]="albums" [limit]="albumLimit" (event)="albumEventEmitted($event)"></app-albums-list>
</div>
<div class="song-list-wrapper" *ngIf="songs.length && expand != 'albums' && expand != 'stations'">
	<div class="section-header" *ngIf="!expand">
		<app-button variant="accent" size="small" (click)="view('songs')" *ngIf="!expand && songs.length > songLimit">See all</app-button>
		<h3>Songs</h3>
	</div>
	<app-songs-list [songs]="songs" [limit]="songLimit" [playAll]="false"></app-songs-list>
</div>
<div *ngIf="stations.length && expand != 'songs' && expand != 'albums'">
	<div class="section-header" *ngIf="!expand">
		<app-button variant="accent" size="small" (click)="view('stations')" *ngIf="!expand && stations.length > stationLimit">See all</app-button>
		<h3>Stations</h3>
	</div>
	<app-albums-list [albums]="stations" [limit]="stationLimit" (event)="stationEventEmitted($event)"></app-albums-list>
</div>

<div class="no-results" *ngIf="!songs.length&&!albums.length&&!loading&&!error">
	No songs found
</div>

<app-error-message [error]="error" (retry)="getSearchResults()">
	Could not retrieve search results
</app-error-message>
