@import "shared";
.settings{
	&-item{
		@extend %box-shadow;
		border-bottom: 1px solid rgba(map-get($colors,dark),0.15);
		margin:0 -10px;
		padding: 13px 16px;
		position: relative;
		.value{
			font-size: 14px;
			color:map-get($colors,secondary-text);
		}
		@include media($bp-small){
			box-shadow: none;
		}
		@include media($bp-gt-small){
			background:map-get($colors,light);
			margin:0 -15px;
		}
		@include deep{
			.app-input-toggle{
				position: absolute;
				right: 16px;
				top: 50%;
				transform: translate(0,-50%);
			}
		}
	}
}
