<app-header-bar mainHeading="Collections" secondaryHeading="Pre-built playlists" image="assets/images/music.jpg" short="true" [class.error]="error"></app-header-bar>

<app-spinner [show]="loading"></app-spinner>

<div class="collection-results" *ngIf="collections.length">
	<app-collections-list [collections]="collections"></app-collections-list>
</div>

<app-error-message [error]="error" (retry)="getCollections()">
	Could not retrieve collections
</app-error-message>
