@import "shared";
.context-menu{
	@extend %box-shadow;
	position: absolute;
	background: map-get($colors, hint);
	right: 0;
	top:0;
	z-index: 4;
	min-width: 112px;
	font-size: 16px;
	color: map-get($colors,primary-text);
	padding: 8px 0;
}
.context-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
