<app-header-bar mainHeading="Play Queue" secondaryHeading="What's currently playing" image="assets/images/queue.jpg" short="true" [class.error]="error"></app-header-bar>

<app-spinner [show]="loading"></app-spinner>

<div *ngIf="songs.length">
	<app-songs-list [songs]="songs"></app-songs-list>
</div>

<app-error-message [error]="error" (retry)="getQueue()">
	Could not retrieve queue
</app-error-message>
