<app-header-bar *ngIf="!settingsSection" mainHeading="Settings" secondaryHeading="Hifi Audio configuration" image="assets/images/settings.jpg" short="true"></app-header-bar>
<app-header-bar *ngIf="settingsSection" [mainHeading]="settingsSection" secondaryHeading="Settings" image="assets/images/settings.jpg" short="true"></app-header-bar>
<div class="settings" *ngIf="!settingsSection">
	<app-section heading="Playlists">
		<app-item heading="Clear cache">
			{{ cacheTotal }} files - {{ cacheSize | byteSize }}
		</app-item>
		<app-item heading="Cache expiry">
			{{ cacheExpiry }} days
		</app-item>
	</app-section>
	<app-section heading="Google Music">
		<app-item heading="Account">
			Please log-in
		</app-item>
		<app-item heading="Device">
			Please select
		</app-item>
	</app-section>
	<app-section heading="Speakers">
		<app-item *ngFor="let speaker of speakers" (click)="openSettings('speakers',speaker.id)" heading="{{ speaker.name }}">
			http://{{ speaker.ip }}
		</app-item>
		<app-item (click)="openSettings('speakers','new')" heading="Add speaker">
		</app-item>
	</app-section>
</div>
<div class="settings settings-speakers" *ngIf="settingsSection==='speaker'">
	<div *ngIf="currentSpeaker">
		<app-fancy-input [(model)]="currentSpeaker.name" label="Name" field="name"></app-fancy-input>
		<app-fancy-input [(model)]="currentSpeaker.ip" label="IP" field="ip"></app-fancy-input>
		<app-button align="left" *ngIf="settingsId!=='new'" (click)="deleteSpeaker(currentSpeaker.id)"><span class="icon">delete</span> Delete</app-button>
	</div>
</div>
