@import "shared";
.settings{
	padding:8px 0;
	app-section{
		display: block;
		&:last-child{
			@include deep{
				app-item:last-child{
					.settings-item{
						border-bottom: none;
					}
				}
			}
		}
		@include media($bp-gt-small){
			@include deep{
				app-item:last-child{
					.settings-item{
						border-bottom: none;
					}
				}
			}
			+ app-section{
				margin-top: 8px;
			}
		}
	}
	&-speakers{
		padding-left: 6px;
		padding-right: 6px;
	}
}
